.bash_logout
.bash_profile
.bashrc
.cache/pip
.python_history
.ssh/authorized_keys
.viminfo
langchain/bin langchain/include langchain/lib langchain/lib64 langchain/pyvenv.cfg
langchain
id_rsa_github
id_rsa_github.pub
.ssh
.bash_history
.cache/
.vscode-server/
.wget-hsts
